---
import Container from "../shared/Container.astro";
---

<section class="relative mt-12 md:mt-16">
  <Container>
    <div
      class="mx-auto p-5 sm:p-6 py-6 sm:py-8 max-w-5xl rounded-3xl bg-box-bg border border-box-border shadow-lg  shadow-box-shadow md:divide-x divide-box-border grid grid-cols-2 md:grid-cols-4 gap-4 sm:gap-8 md:gap-6 lg:gap-12"
    >
      <div class="text-center">
        <h2
          class="font-semibold text-xl sm:text-2xl md:text-4xl text-heading-1"
        >
          10
        </h2>
        <p class="mt-2 text-heading-3">Minutos de qualquer lugar do centro.</p>
      </div>

      <div class="text-center">
        <h2
          class="font-semibold text-xl sm:text-2xl md:text-4xl text-heading-1"
        >
          50
        </h2>
        <p class="mt-2 text-heading-3">Equipamentos</p>
      </div>

      <div class="text-center">
        <h2
          class="font-semibold text-xl sm:text-2xl md:text-4xl text-heading-1"
        >
          120
        </h2>
        <p class="mt-2 text-heading-3">Alunos</p>
      </div>

      <div class="text-center">
        <h2
          class="font-semibold text-xl sm:text-2xl md:text-4xl text-heading-1"
        >
          20
        </h2>
        <p class="mt-2 text-heading-3">Anos de Experiência (Idealizador)</p>
      </div>
    </div>
  </Container>
</section>
