---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/sections/Hero.astro';
---

<Layout title="Academia no centro de Curitiba">
	<main class="flex flex-col gap-y-20 md:gap-y-32 overflow-hidden">
		<Hero/>
	</main>
</Layout>